html {
  width: 250px;
}

body {
  background-color: #282C34;
}

h1 {
  font-size: 1.6em;
  color: #9DA5B4;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  font-size: 0.8em;
  color: #9DA5B4;
}

a:hover {
  color: #c0c8d7;
  text-decoration: none;
}

#title {
  background-color: #21252B;
  border-bottom: 1px solid #3B4048;
}

#sites {
  padding-top: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

#no-sites {
  padding-top: 10px;
  color: #575a61;
}
