<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Aemer Popup</title>

  <!-- CSS -->
	<link rel="stylesheet" href="../lib/bootstrap.css">
  <link rel="stylesheet" href="../styles/popup.css">
  <link rel="stylesheet" href="../styles/scrollbar.css">

  <!-- JS -->
  <script src="../lib/jquery-3.3.1.slim.min.js"></script>
  <script src="../scripts/popup.js"></script>

</head>
  <body>
    <div class="container-fluid">
      <div class="row" id="title">
        <h1 class="col-12">AEM Websites</h1>
      </div>
      <div class="row" id="sites">
        <div class="col-12">
          <ul id="site-list"></ul>
        </div>
      </div>
      <div class="row" id="no-sites">
        <p class="col-12"><b>None</b></p>
      </div>
    </div>
  </body>
</html>
