html {
  width: 250px;
}

h1 {
  font-size: 1.6em;
  color: #9DA5B4;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #9DA5B4;
}

.title-row {
  background-color: #21252B;
  border-bottom: 1px solid #3B4048;
}

.scrollable {
  padding-top: 20px;
  height: 500px;
  overflow-y: scroll;
  background-color: #282C34;
}
